﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    </div>
</div>


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <MudNavLink Href="/ql/product" Icon="@Icons.Material.Filled.FormatListBulleted">Danh sách sách</MudNavLink>

        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/khuyenmai" Icon="@Icons.Material.Filled.Apps">Khuyến mãi</MudNavLink>
        </div>

        <div class="nav-item px-3">
            <MudNavLink Href="/Ql/Category" Icon="@Icons.Material.Filled.FormatListBulleted">Danh sách danh mục</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/tt" Icon="@Icons.Material.Filled.AccountBox">Tài khoản nhân viên</MudNavLink>

        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/noibat" Icon="@Icons.Material.Filled.Apps">Ảnh nổi bật</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="/xulidon" Icon="@Icons.Material.Filled.Apps">Quản lí đơn hàng</MudNavLink>
        </div>
        <div class="nav-item px-3">

            <MudNavLink Href="/doanhthu" Icon="@Icons.Material.Filled.Article">Thống kê doanh thu</MudNavLink>
        </div>
        @*
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/login">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> đăng nhập
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/signup">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> đăng kí
        </NavLink>
        </div>
        *@
    </nav>
</div>